@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto:wght@700&family=Russo+One&display=swap');
@font-face
{
    font-family: Cassandra;
    src: url(webfonts/CassandraPersonalUseRegular.ttf) format("truetype");
}
body
{
    margin: 0;
    padding: 0;
}
#header-info
{
    margin : 0;
    width: 100%;
    height: 35px;
    background-color: #f6f7fb;
}
#header-info ul
{
    padding-left: 20px;
}
#header-info ul li a
{
    color: #768dad;
    font-size: 12px;
}
#header-info i
{
    margin-right: 5px;
}
#header-info .social-media i
{
    margin-right: 10px;
    font-size: 15px;
    padding-top: 10px;
}

/*---------------navbar section-------------------*/

#nav-bar {
    margin : 0;
    width: 100%;
    height: 80px;
    background-color:white;
}

#nav-bar a
{
    color: #4f6984;
    margin-right: 30px;
    font-weight: bold;
}

.bgimage 
{
    width:100%;
    height:500px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
  }
  .bgimage  .jumbotron
  {
      padding-top: 130px;
      width: 100%;
      height: 500px;
      background-color: #4f6984;
      
  }
  .bgimage  .jumbotron h1
  {
      font-weight: bold;
      color:white;
  }
  .bgimage  .jumbotron p
  {
    font-size: 12pt; 
    color: white; 
    padding-left:5pt; 
    left:0; top:7pt; 
    font-family:National, Arial, sans-serif;
    position:relative;
  }
  .bgimage .btn
  {
    margin-top: 25px;
    background-color: #00bb9c;
    color: white;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
  }
  .bgimage .btn:hover
  {
    background-color: #00bb9c;
    color: white;
  }

.site-complete-message {
    padding-top: 100px;
    text-align:center;
    margin: 0 auto;
    color: #4f6984;
}

h5{
  display:inline-block;
}

.complete-text-wrap {
    padding-top: 12px;
    width:500px;
    margin:0 auto;
}

#services .row2
{
    margin-top: 50px;
    margin-left: 70px;
}
#services .content h5   
{
    margin-left: 50px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #4f6984;
}
#services .content p
{
    margin-left: 50px;
    width: 250px;
    color: #4f6984;
}

#services .content i
{
    position: absolute;
    bottom: 125px;
    left: -10px;
    font-size: 40px;
    color: #00bb9c;
}
#portfolio
{
    margin-top: 120px;
    text-align: center;
    background-color: #f3f4f8;
}
#work-us
{
    padding-bottom: 50px;
}
#work-us .btn 
{
    margin-top: 10px;
    background-color: #00bb9c;
    color: white;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
}
#work-us .btn:hover 
{
    background-color: #00bb9c;
    color: white;   
}

#footer
{
    background: #2f4052;
    color: white;
    width: 100%;
    margin-top: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
}
#footer img 
{
    width: 100%;
}
#footer p
{
 font-size: 16px;
 color: #a3b3c2;
}
#footer a 
{
    color: #a3b3c2;
}
#footer button 
{
    background-color: #00bb9c;
    color: white; 
}
#footer i
{
    margin-right: 10px;
}

#copyright
{
    background-color: #293646;
}
#copyright .navbar-brand
{
    font-size: 12px;
    font-weight: bold;
    color: #717e8e;
}

#copyright ul li a
{
    font-size: 13px;
    font-weight: bold;
    color: #717e8e;
}
